@tailwind base;
@tailwind components;
@tailwind utilities;

.card-skeleton {
  background-color: #4c4c4c;
}

:root {
  --animation-bg: linear-gradient(
    to right,
    hsl(var(--b2) / 1) 0%,
    hsl(var(--b2) / 1) 100%
  );
}

.card-skeleton .animate-bg {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  animation: animate-bg 1s linear infinite;
}

@keyframes animate-bg {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.clip-text {
  color: var(--b2);
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--animation-bg);
    background-size: 200% 100%;
    background-position: center;
  }
}
